/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* header styles */
.srOnly {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
}
.mainNav a {
  font-weight: bold;
  color: #2c3e50;
}
.mainNav a.router-link-exact-active {
  color: #42b983;
}
.mainNavItem {
  text-decoration: none;
  margin-right: 0.5rem;
}
.mainNavItem:hover {
  text-decoration: underline;
}
.mainNavLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.signIn{
  margin-left: 5px;
}
.user{
  margin-left: 1px;
  margin-right: 7px;
}

@media (min-width: 451px){ 
  .mainNavLogoImage {
    max-width: 100%;
    width: 200px;
  }
}

@media (max-width: 450px){ 
  .user{
    margin-left: 0;
    margin-right: 2px;
  }
  .mainNavLogoImage {
    width: 120px;
  }
}

@media (max-width: 340px) {
  .mainNavLogoImage {
    width: 80px;
  }
  .mainNav {
   font-size:12px;
  }
}